.container{
  width: 80%;
  color: #fff;
  margin: 1.938rem 2.5rem;
  border-collapse: collapse;
  border: 5px solid var(--blue-500);
  padding: 1rem;
}

.title{
  border: 5px solid var(--blue-500);
}

.title th{
  border-left: 3px solid var(--blue-500);
  text-align: left;
  padding: .5rem;
}
.content td{
  padding: .5rem;
  border-right: 3px solid var(--black);
  border-bottom: 3px solid var(--black);
}
.content{
  border-bottom: 3px solid var(--blue-500);
  
}

