.container{
  width: fit-content;
  min-width: 250px;
  height: 65px;
  padding: 0.313rem;
  text-align: center;
  border-radius: 0.313rem;
  font-size: 2.188rem;

/*   text-overflow: ellipsis;
  overflow: hidden; 
  */
  white-space: nowrap;
  
  display: -webkit-box;
  
  -webkit-box-orient: vertical; 
}