.container{
  width: 300px;
  height: 60px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  font-size: 35px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical; 
}