.container{
  width: 100%;
  height: calc(1.688rem + 0.8rem);
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 20px;
}
.backgroundImage{
  position: absolute;
  width: 100%;
  z-index: 0;
  flex-shrink: 0;
  z-index: 0;
  opacity: 0.5;
}
.content{
  color: #FFF;
  position: relative;
}
.cardBanner{
  position: relative;
  opacity: 1;
  z-index: 1;
}
.content h5{
  font-size: 2.813rem;
}
.content p{
  font-size: 1.125rem;
}
