.container{
  width: 100%;
  height: 50.563rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  padding: 20px;
  z-index: 1;
}
.backgroundImage{
  position: absolute;
  width: 100%;
  z-index: 0;
  flex-shrink: 0;
  z-index: 0;
}
.content{
  color: #FFF;
  position: relative;
}
.content h5{
  font-size: 2.813rem;
}
.content p{
  font-size: 1.125rem;
}
