.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  
}

.backgroundImage{
  width: 100vw;
  opacity: 0.5;
}

/* 
.content{
  color: #FFF;
  position: relative;
}
.cardBanner{
  position: relative;
  opacity: 1;
  z-index: 1;
}
.content h5{
  font-size: 2.813rem;
}
.content p{
  font-size: 1.125rem;
} */
