.container{
  position: relative;
  top: -100px;
  display: flex;
  margin-left: 20px;
  gap: 22px;
}
.container .card{
  display: flex;
width: 432px;
height: 260.85px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}