.container{
  position: relative;
  top: -100px;
  display: flex;
  margin-left: 20px;
  gap: 22px;
  overflow-x: hidden;
  
}
.card{
  width: 433px;
  height: 263px;  
  border-radius: .25rem;
}
.card img{
  position: absolute;
  width: 430px;
  height: 260px;
  border-radius: .25rem;
}
