.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  margin: 2rem auto;
  gap: .5rem;
}

.container form{
  width: 100%;
}
.container h2{
  color: var(----color-gray-light, #F5F5F5);
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
.groupButton{
  display: flex;
  gap: 1rem;
  width: 100%;
}