.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 2rem auto;
  gap: .5rem;
}
.container h2{
  color: var(----color-gray-light, #F5F5F5);
text-align: center;

/* @title-big */
font-family: Roboto;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.groupButton{
  display: flex;
  gap: 1rem;
  width: 100%;
}